
spac @ git+https://github.com/FNLCR-DMAP/SCSAWorkflow.git@ed79d5f3608599c5c561d57a6cc6d5fbb0e38130
shiny
shinywidgets
pickle
anndata
pandas
numpy
matplotlib
pathlib
sag-py-execution-time-decorator @ git+https://github.com/SamhammerAG/sag_py_execution_time_decorator.git@976c9683d561aadc0166495117c42cc1762633d7
logging
